* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-height: 90vh;
    margin: auto 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    /* White background for the container */
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 600px;
    padding: 30px;
    text-align: center;
    border: 1px solid #e0e0e0;
    /* Subtle border for better visibility */
}

.header h1 {
    font-size: 28px;
    color: #444;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.home .button-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.exit-btn.home {
    width: 100%;
    background: #dc3545;
    /* Red for exit button */
}

.exit-btn:hover {
    background: #b02a37;
    /* Darker red on hover */
}

.home .btn {
    width: 100%;
}

.footer {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .btn {
        font-size: 14px;
    }
}