nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #ffffff82;
}
nav .title {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav .title .imageHolder {
    height: 58px;
}
nav .title .texts{
    display: flex;
    flex-direction: column;
    gap: 0;
    font-weight: bold;
    font-size: 20px;
    color: var(--dark-blue);
}
nav .title .texts p {
    margin: 0;
}

nav .options {
    display: flex;
    align-items: center;
    gap: 6px;
}

nav .options .logout {
    background-color: var(--orange);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    gap: 5px;
}
nav .options .logout .ico {
    height: 18px;
}

nav .options .account .ico {
    height: 32px;
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
    padding: 0 10px;
}
